<div class="uk-sidebar uk-card uk-card-default uk-card-body uk-width-1-2@s">
  <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
    <li class="uk-active"><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/employees">Employees</a></li>
    <li><a href="#">Documents</a></li>
    <li class="uk-parent">
      <a href="#">Location</a>
      <ul class="uk-nav-sub">
        <li><a href="#">Country</a></li>
        <li><a href="#">City</a></li>
        <li><a href="#">Address</a></li>
      </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li><a href="#">Roles</a></li>
    <li><a href="#">Permission</a></li>
    <li><a href="#">Grant permission</a></li>
  </ul>
</div>
