<nav class="uk-navbar-container uk-card-default" uk-navbar>
  <div class="uk-navbar-left">

  <a routerLink="/dashboard" class="uk-navbar-item uk-logo">Gestion</a>

  </div>
  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <span uk-icon="bell"></span>
          <span class="uk-badge">5</span>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#"><span uk-icon="user" class="uk-margin-small-right"></span> mohamed karim </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Setting</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
