<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main">

  <button routerLink="/employees/create" class="uk-button uk-button-primary uk-margin-bottom">Add employee</button>

  <div class="uk-card uk-card-default">

    <table class="uk-table uk-table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Table Data</td>
        <td>
          <div class="uk-margin-small">
            <div class="uk-button-group">
              <button class="uk-button uk-button-small uk-button-primary">Show</button>
              <button class="uk-button uk-button-small uk-button-secondary ">Edit</button>
              <button class="uk-button uk-button-small uk-button-danger">Delete</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
