<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main">
  <div class="uk-card uk-card-default uk-card-body">
    <form>
      <div class="uk-grid">

        <div class="uk-width-1-2">

          <h6>EMPLOYEE</h6>
          <hr class="uk-divider-small">

          <div class="uk-margin-bottom">
            <label class="uk-form-label">Date Begin</label>
            <div class="uk-form-controls">
              <label>
                <input class="uk-input" type="date">
              </label>
            </div>
          </div>
          <!----------------------------------------------->
          <label>Level</label>
          <div class="uk-margin-bottom uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
            <label><input class="uk-radio" type="radio" name="radio2"> B</label>
            <label><input class="uk-radio" type="radio" name="radio2"> C</label>
          </div>
          <!----------------------------------------------->
          <div class="uk-margin-bottom">
            <label class="uk-form-label">Salary</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="number" placeholder="Enter Salary ">
            </div>
          </div>


        </div>
        <div class="uk-width-1-2">
          <h6>INFORMATION</h6>
          <hr class="uk-divider-small">

          <div class="uk-margin-bottom">
            <label class="uk-form-label">First Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" placeholder="Enter first name">
            </div>
          </div>
          <!----------------------------------------------->
          <div class="uk-margin-bottom">
            <label class="uk-form-label">Last Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" placeholder="Enter last name">
            </div>
          </div>

        </div>

      </div>
      <button class="uk-button uk-button-primary uk-width-1-1">create</button>
    </form>
  </div>
</div>
